[submodule "books/w-pseudocode"]
	path = books/w-pseudocode
	url = https://github.com/bausteine-der-datenanalyse/w-pseudocode.git
[submodule "books/w-python"]
	path = books/w-python
	url = https://github.com/bausteine-der-datenanalyse/w-python.git
[submodule "books/w-python-minimal"]
	path = books/w-python-minimal
	url = https://github.com/bausteine-der-datenanalyse/w-python-minimal.git
[submodule "books/w-python-matplotlib"]
	path = books/w-python-matplotlib
	url = https://github.com/bausteine-der-datenanalyse/w-python-matplotlib.git
[submodule "books/w-python-numpy"]
	path = books/w-python-numpy
	url = https://github.com/bausteine-der-datenanalyse/w-python-numpy-grundlagen.git
[submodule "books/w-pandas"]
	path = books/w-pandas
	url = https://github.com/bausteine-der-datenanalyse/w-pandas.git
[submodule "books/m-numerik"]
	path = books/m-numerik
	url = https://github.com/bausteine-der-datenanalyse/m-numerik.git
[submodule "books/m-datenfitting-und-optimierung"]
	path = books/m-datenfitting-und-optimierung
	url = https://github.com/bausteine-der-datenanalyse/m-datenfitting-und-optimierung.git
[submodule "books/m-einlesen-strukturierter-datensätze"]
	path = books/m-einlesen-strukturierter-datensätze
	url = https://github.com/bausteine-der-datenanalyse/m-einlesen-strukturierter-datensaetze.git
[submodule "books/m-sensordatenanalyse"]
	path = books/m-sensordatenanalyse
	url = https://github.com/bausteine-der-datenanalyse/m-sensordatenanalyse.git
[submodule "books/a-auswertung-fds-daten"]
	path = books/a-auswertung-fds-daten
	url = https://github.com/bausteine-der-datenanalyse/a-auswertung-fds-daten.git
[submodule "books/a-energiedatenanalyse"]
	path = books/a-energiedatenanalyse
	url = https://github.com/bausteine-der-datenanalyse/a-energiedatenanalyse
